 
  .arti-depok-lama-row {
    padding-top: 5%;
  }
  
  .subtitle-arti-depok-lama {
    margin-left: 25%;
    margin-right: 25%;
    font-size : 20px;
    color: white;
  }
  
  .title-arti-depok-lama h1{
      color: white;
  }
