 
  .depok-masa-chastelein-row {
    padding-top: 5%;
  }
  
  .subtitle-depok-masa-chastelein {
    margin-left: 15%;
    margin-right: 15%;
    font-size : 20px;
    color: white;
  }
  .subtitle-depok-masa-chastelein #ayosimak{ 
    color:#FFD600;
  }
  
  
  .title-depok-masa-chastelein h1{
      color: white;
  }
  

@media only screen and (max-height: 360px) {

  .title-depok-masa-chastelein{
    margin-top: -15%;
    
    
  }

  .title-depok-masa-chastelein h1{
    font-size: 3rem;
  }

.depok-masa-chastelein-row {
  padding-top: 1%;
}

.subtitle-depok-masa-chastelein {
  margin-top: -5%;
  margin-left: 15%;
  margin-right: 15%;
  font-size : 1.5rem;
}

.subtitle-depok-masa-chastelein #ayosimak {
  font-weight: bold;
  color: #FFD600;
}



}