 
  .peristiwa-berdarah-depok-row {
    padding-top: 5%;
  }
  
  .subtitle-peristiwa-berdarah-depok {
    margin-left: 15%;
    margin-right: 15%;
    font-size : 20px;
    color: white;
  }
  .subtitle-peristiwa-berdarah-depok #ayosimak{
  color:#FFD600;
  font-weight: bold;
  }
  .title-peristiwa-berdarah-depok h1{
      color: white;
  }
  
  
@media only screen and (max-height: 360px) {

  .title-peristiwa-berdarah-depok{
    margin-top: -15%;
    
    
  }

  .title-peristiwa-berdarah-depok h1{
    font-size: 3rem;
  }

.peristiwa-berdarah-depok-row {
  padding-top: 1%;
}

.subtitle-peristiwa-berdarah-depok {
  margin-top: -5%;
  margin-left: 15%;
  margin-right: 15%;
  font-size : 1.5rem;
}

.subtitle-peristiwa-berdarah-depok #ayosimak {
  font-weight: bold;
  color: #FFD600;
}



}